{% extends "base.html" %}
{% block title %}Create Vending Machine{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-dark text-white"> 
                <h3 class="mb-0">Create Vending Machine</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="/create_vending_machine">
                    <div class="form-group">
                        <label for="machine_name">Machine Name</label>
                        <input type="text" class="form-control" id="machine_name" name="machine_name" placeholder="Enter machine name" required>
                    </div>
                    <div class="form-group">
                        <label for="location">Location</label>
                        <input type="text" class="form-control" id="location" name="location" placeholder="Enter location">
                    </div>
                    <div class="form-group">
                        <label for="budget">Budget</label>
                        <input type="number" class="form-control" id="budget" name="budget" placeholder="Enter budget" required>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
